@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;


}

main{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #343541;
   
}
   
   

.sidebar{
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    transition: ease-in-out 0.3s;
    overflow: hidden;
    background-color: #202123;
    
    
    
}

.sidebar:hover{
    width: 260px;
   
}


.sidebar:hover > .item > .text{
    opacity: 1;
}

.item{
    display: flex;
    margin: 20px 0px;
    align-items: center;
}
hr{
    margin-top: -20px;
}

.icon1{
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    margin-bottom: 700px;
    
}

.text1{
   
    color: white;
    margin-bottom: 700px;
   opacity: 1;
   transition: ease-in-out 0.3s;
   margin-left: 15px;
   transition-delay: .2s;
   white-space: nowrap;

}
.item .icon{
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    
}

.item .text{
    opacity: 1;
    transition: ease-in-out 0.3s;
    transition-delay: .2s;
    margin-left: 15px;
    white-space: nowrap;
    color: white;
}

.item .text > a{
    color: white;
    text-decoration: none;
    cursor: pointer;

}


#conteiner{
    width: 100%;
    
    
   
}

#conteiner > #cabecalho{
   margin-left: -30px;
    margin-top: 23px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    
}

#conteiner > #cabecalho h1{
    color: white;
    font-size: 25px;
}



#conteiner > #cabecalho > #img1{
    margin-left: -455px;
    margin-bottom: -37px;
    margin-top: -33px;
    margin-right: 31px;
    
}

#mid{
    width: 100%;
    height: 180px;
    background-color: #60637570;
    color: white;
    display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

#mid > p{
    width: 628px;
    height: 108px;
    text-align: justify;
    line-height: 1.7;
}

#mid > #fotogpt{
   margin-top: -87px;
   margin-right: 26px;
}

#mid > #fotolikes{
    margin-left: 37px;
    margin-bottom: 80px;
}

#footer{
    margin-top: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#footer > a > button > img{
    margin-right: 9px;
}
#footer > a button{
    width: 184px;
    height: 40px;
    background-color: #343541;
    color: #C5C5D1;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #c5c5d14f;
    
    
}



#footer > input{
    width: 768px;
    height: 48px;
    padding: 8px;
    background-color: #40414E;
    border: none;
    margin-bottom: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    outline: none;
    color: white;


    
}

#imginput{
margin-top: -39px;
margin-right: -720px;
    
}

#footer > #p2f{
    color: #9A9B9F;
    margin-top: 25px;
}

#footer > #p2f > a{
    
    color: #8E8E9E;
}
    
